@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playball&display=swap');

:root {
  --primary-color: #E9D7C0;
  --secondary-color: #DEAD9C;
  --third-color: #A4896C;
  --fourth-color: #9CB6AD;
  --fifth-color: #F3EBE1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conteudo-principal {
  padding: 60px 0;
}

.sobre-comunidade {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: row-reverse; /* Imagem na direita no PC */
  margin-bottom: 80px;
}

.img-comunidade-sec {
  flex: 1;
  display: flex;
  justify-content: center;
}

.comunidade-img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.sec-sobre-nossa-comunidade {
  font-family: "Philosopher", sans-serif;
  padding: 5%;
  font-size: 25px;
  flex: 1;
  text-align: center;
  color: var(--third-color);
}

.btn-comunidade {
  font-family: "Philosopher", sans-serif;
  width: 100%;
  max-width: 400px; /* Limite de tamanho no Desktop */
  height: 60px;
  background: var(--fourth-color);
  color: var(--fifth-color);
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s;
}

/* RESPONSIVIDADE INDEX */
@media (max-width: 768px) {
  .sobre-comunidade {
    flex-direction: column; /* Imagem em cima, texto embaixo */
    text-align: center;
  }
  
  .sec-sobre-nossa-comunidade {
      font-family: "Philosopher", sans-serif;
  font-size: 18px;
  flex: 1;
  text-align: center;
  color: var(--third-color);
  }

  .btn-comunidade {
    font-family: "Philosopher", sans-serif;
    max-width: 100%; /* Ocupa tudo no mobile */
  }

  h2 { font-size: 28px; padding: 20px 0; }
}