@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playball&display=swap");

:root {
  --primary-color: #e9d7c0;
  --secondary-color: #dead9c;
  --third-color: #a4896c;
  --fourth-color: #9cb6ad;
  --fifth-color: #f3ebe1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  background: var(--fourth-color);
  color: var(--fifth-color);
  padding: 40px 5%;
}

.nome_logo{
  font-family: "Playball", cursive;
  font-size: 28px;
  color: var(--fifth-color);
}

.top {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas no PC */
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--fifth-color);
}

.contatos h4 {
    font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

.links {
  font-family: "Poppins", sans-serif;
  list-style: none;
}
.links li {
  margin-bottom: 10px;
}
.links a {
  color: var(--fifth-color);
  text-decoration: none;
}

.bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
}

@media (max-width: 900px) {
  .top {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas no tablet */
  }
}

@media (max-width: 600px) {
  .top {
    grid-template-columns: 1fr; /* 1 coluna no mobile */
    text-align: center;
  }
  .contatos {
    align-items: center;
  }
}
